<div class="usb-post-field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="usb-post-field">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="usb-buttons">
  <%= f.submit %>
</div>
