<div class="usb-image-field usb-form-field">
  <%- if f.object.image_stored? %>
    <%= image_tag model.image.thumb('200x200#').url %>
  <%- end %>

  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<div class="usb-image-field usb-form-field">
  <%= f.label :alt %>
  <%= f.text_field :alt %>
</div>

<div class="usb-image-field usb-form-field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<%= f.submit %>
