<div class="usb-post-field usb-form-field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="usb-post-field usb-form-field wmd-panel">
  <%= f.label :body %>

  <div id="wmd-button-bar"></div>
  <%= f.text_area :body, :class => "wmd-input", :id => "wmd-input" %>
</div>

<%= tags_cell.edit :form => f %>

<div class="usb-post-field usb-form-field">
  <%= f.label :published_at %>
  <%= f.datetime_local_field :published_at %>
</div>

<div class="usb-buttons usb-form-field">
  <%= f.submit %>
</div>
