<div class="usb-post-edit usb-post">
  <div class="usb-post-meta">
    <%= render :partial => "actions", :locals => { :model => model } %>
  </div>

  <%= form_for model, :url => @router.post_path(:id => model.slug) do |f| %>
    <%= render :partial => "form", :locals => { f: f } %>
  <% end %>

  <div id="usb_post_image_picker" class="usb-fullscreen usb-page closed">
    <a href="javascript://" class="usb-fullscreen-close">Close</a>

    <%= new_image_cell.new %>
    <%= images_cell.pick %>
  </div>
</div>
