<div class="usb-edit-post">
  <%= render :partial => "actions", :locals => { :model => model } %>

  <%= form_for model, :url => @router.post_path(:id => model.slug) do |f| %>
    <%= render :partial => "form", :locals => { f: f } %>
  <% end %>

  <div id="usb_post_image_picker" class="usb-fullscreen closed">
    <a href="javascript://" class="usb-fullscreen-close">Close</a>

    <%= new_image_cell.new %>
    <%= images_cell.pick %>
  </div>
</div>
