<div class="usb-post">
  <%= render :partial => "actions", :locals => { :model => model } %>
  <%= post_title %>

  <div class="usb-post-published-at">
    <%= published_at %>
  </div>

  <div class="usb-post-body">
    <%= body %>
  </div>

  <%- if @post_is_the_page_subject %>
    <%= tags_cell.show %>
    <%= comments_cell.show %>
  <%- end %>
</div>
